<div class="content">
    <div class="toolbar" role="banner">
        <div class="nav-title" (click)="hideDetails()">
            <h2>Mercado Karol</h2>
        </div>
        <div class="search"> 
            <form>
                <input  type="text"  id="searchProduct" class="search-input"
                name="searchProduct" minlength="2" maxlength="55" 
                [(ngModel)]="query" required placeholder="Nombre del producto">
                <input class="search-image" type="image"  (click)="showProducts()" name="search" src="../../../assets/lupa.png" alt="Search">
            </form>

        </div>
    </div>
    <div *ngIf="!disabled">
        <h2>Resultados</h2>
        <div class="card-container">
            <a class="card" ([ngModel])="products" *ngFor="let product of products" (click)="showProduct(product)" ngDefaultControlrel="noopener" >
                <div class="card-image">
                    <img [src]="product.thumbnail"/>
                </div>
                <div> 
                    <strong>
                        <span style="text-transform:uppercase;">{{product.title}}</span>
                    </strong>
                    <div class="spacer"></div>
                    <span style="color: gray;">Seller {{product.seller_name}}</span>
                    <div class="spacer"></div>
                    <span>${{product.price}}</span> 
                </div>
            </a>
        </div>
    </div> 
    <div *ngIf="disabled" class="product-details">
        <div>
            <img [src]="productInfo.main_picture"/>
        </div>
        <div>
            <h1>{{ productInfo.title }}</h1>
            <p *ngIf="productInfo.original_price" style="text-decoration-line: line-through; font-size: large;">${{ productInfo.original_price }}</p> 
            <h1>${{ productInfo.price }}</h1> 
            <p style="color: gray; font-size: large;">Seller {{ productInfo.seller_name }}</p> 
        </div>
    </div>
    
    <div class="pagination">
        <button (click)="changePagination('-')" *ngIf="page !== 0">«</button>
        <button (click)="pagination(page)">{{ page + 1 }}</button>
        <button (click)="pagination(page + 1)">{{ page + 2 }}</button>
        <button (click)="pagination(page + 2)">{{ page + 3 }}</button>
        <button (click)="pagination(page + 3)">{{ page + 4}}</button>
        <button (click)="changePagination('+')" >»</button>
    </div>
</div>
<!--<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="Object.keys(products).length"></ngb-pagination>-->